:root {
  --main-font-color: #000000ff;
  --dark-font-color: #14213dff;
  --special-font-color: #fca311ff;
  --secondary-font-color: #e5e5e5ff;
  --main-background-color: #ffffffff;
  font-size: 14px;
}
#root,
body,
html {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.main-container {
  flex-wrap: nowrap;
  width: 90%;
  margin: 8vh 5% 0;
}
.main-header {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  justify-content: flex-start;
  align-items: center;

  align-self: center;
  height: auto;
  margin-left: 5%;
}
.section-header {
  color: var(--main-font-color);
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.main-header * {
  width: 100%;
  color: var(--main-background-color);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: left;
  margin: 0;
}
.main-header p,
h2 {
  color: var(--main-background-color);
  display: flex;
  vertical-align: middle;
}
.main-header h2 {
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 0.5em;
}
.main-header p {
  font-size: 1.5em;
}

.view-products {
  color: var(--main-background-color);
  border-radius: 0.5em;
  text-decoration: none;
  text-align: center;
  width: 60%;
  padding: 0.5em 1em;
  font-size: 18px;
  color: var(--main-background-color);
  border: 1px solid var(--main-background-color);
  background-color: transparent;
  margin-top: 2em;
}
.view-products a {
  font-size: 1em;
  padding: 1em 0;
}
.button-bar {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 1.5em 0;
  height: 4em;
}
.search-bar {
  width: 100%;
  display: flex;
  margin: 1.5em 0;
  height: 4em;
}
.search-bar input {
  border: var(--main-font-color);
  background-color: var(--secondary-font-color);
  border-radius: 0.5em;
  padding-left: 1em;
  width: 100%;
}
.button-bar * {
  width: 45%;
  height: 4em;
}

a,
li a {
  text-decoration: none;
  text-align: center;
  color: var(--dark-font-color);
}
ul {
  list-style-type: none;
}
li {
  text-decoration: none;
  display: flex;
}
.margin-top {
  margin-top: 3em;
}
.jumbotron {
  display: flex;
  background-image: url("/assets/jumbotron.png");
  background-position: center;
  background-size: cover;
  border-radius: 1em;
  height: 100vh;
  width: 100%;
}
.social-media a {
  text-decoration: none;
  margin-top: 0;
  color: var(--secondary-font-color);
} /* 
.social-media {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  width: 50%;
} */
.social-media a {
  font-size: 2em;
  color: var(--main-font-color);
  text-align: center;
}
.social-media p {
  display: none;
}

.flex-container {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  width: 100%;
  /* grid-auto-columns: repeat(1fr, 1fr, 1fr); */
  font-size: 0.8em;
}
.input-group {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid var(--special-font-color);
  outline: none;
}
.input-group input {
  outline: none;
  border: none;
}
footer {
  display: flex;
  flex-wrap: wrap;
}
footer .flex-container {
  margin-top: 2em;
  width: 100%;
}

footer {
  border-top: 2px solid var(--secondary-font-color);
  margin-top: 8em;
}
.flex-item {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 1em;
  width: 48%;
  align-items: center;
}

.flex-item p,
a,
input {
  font-size: 1.5em;
  color: var(--main-font-color);
}

.flex-item .social-media-group {
  width: 2em;
  vertical-align: middle;
}
.social-media-group {
  display: flex;
  /*  max-width: 2em; */
  margin-left: 2em;
}
#followus {
  display: none;
}

.nav-bottom {
  text-align: start;
  margin-right: 1em;
}
.social-media-group a {
  font-size: 1.5em;
  margin-left: 1em;
  color: var(--main-font-color);
}
@media screen and (max-width: 992px) {
  :root {
    font-size: 18px;
  }
  .section-header {
    display: none;
  }
  .main-header * {
    color: var(--main-background-color);
    font: size 1.5em;
  }
  .jumbotron {
    display: none;
  }
  .nav-bottom {
    width: 80%;
    margin-top: 1.5em;
  }
  .social-media-group {
    margin-right: 1em;
    margin-left: 0;
  }
  .flex-item p {
    margin: 0;
  }
  .flex-item {
    flex-wrap: wrap;
    width: 100%;
    margin-top: 4em;
  }

  footer {
    border-top: none;
    margin-top: 1em;
  }
  .flex-container {
    width: 100%;
    margin-top: 1em;
  }

  .main-header button {
    max-width: 90%;
  }
}

@media screen and (min-width: 993px) {
  :root {
    font-size: 18px;
  }
  .button-bar,
  .search-bar {
    display: none;
  }
  .right {
    justify-content: flex-end;
  }
  .main-header * {
    font-size: 1.5em;
  }
}
@media screen and (min-width: 1440px) {
  :root {
    font-size: 24px;
  }

  .main-header * {
    font-size: 1.5em;
  }
  .view-products {
    width: 100%;
  }
}

@media screen and (min-width: 1440px) {
  :root {
    font-size: 24px;
  }
  .main-header {
    width: 60%;
  }
  .view-products {
    width: 80%;
    font-size: 3em;
  }
}
